body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    background: #111;
    background-repeat: no-repeat;
    color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) 0 env(safe-area-inset-left, 0);
    box-sizing: border-box;
    border: none, 1px solid #3b3bbb;
}

a {
    color: #fff;
    text-decoration-color: #ccc;
}

a:hover {
    opacity: 0.75;
}

html {
    height: -webkit-fill-available;
}

/* General container for responsive design */
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1rem;
    box-sizing: border-box;
}

.container--narrow {
    width: max-content;
}

.form {
    margin: 0;
}

.form__box {
    display: flex;
}

.form__label {
    display: block;
    font: inherit;
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    margin: 0 1rem 0 0;
    font: inherit;
    width: 100%;
    outline: none;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.5rem;
    color: #fff;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
}
.form__input:focus {
    background-color: rgba(255,255,255,0.2);
}

/* Cool floating button */
.button {
    cursor: pointer;
    font: inherit;
    background: transparent;
    padding: 0.5rem;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-shadow: inherit;
}
.button--filled {
    color: #3b3bbb;
    background-color: #fff;
    padding: 0.5rem 2rem;
}
.button--right {
    float: right;
}
.button:hover {
    opacity: 0.75;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

/* An individual message */
.message {
    line-height: 1.4;
    display: block;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 1rem;
    color: #eee;
    word-wrap: break-word;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, #222, #111);
    border-left: 1px solid;
}

.message--chat {
    background: transparent;
    border: none;
    padding: 0;
    margin: 1rem 0;
}

/* General info */
.message--info {
    color: #3bbbbb;
}

.message--event {
    color: #aaa;
    font-style: italic;
    display: block;
    text-align: center;
    background: transparent;
    border: none;
}
.message--event::before {
    content: "( ";
}
.message--event::after {
    content: " )";
}

.message--help {
    /* background: transparent; */
}

.command-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.command-list li {
    margin-bottom: 1rem;
}
.command-list li:last-child {
    margin-bottom: 0;
}

.command-list__name {
    color: #fff;
}

.command-list__arg {
    font-style: italic;
    /* font-size: 0.9rem; */
}

/* .command-list__arg::before {
    content: "<";
}

.command-list__arg::after {
    content: ">";
} */

.command-list__arg::before, .command-list__arg::after {
    color: #888;
    /* margin: 0 0.25rem; */
}

.command-list__description {
    margin: 0.25rem 0 0 0;
    font-size: 0.9rem;
    color: #ccc;
}

/* Error messages */
.message--error {
    /* text-align: center; */
    color: #bb3b3b;
}

/* Warning message */
.message--warning {
    color: #bbbb3b;
}

/* Success message */
.message--success {
    color: #3bbb3b;
}

.message__bubbles {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message__bubbles--self {
    align-items: flex-end;
}

.message__bubble {
    color: #fff;
    background: #3b3bbb;
    background: linear-gradient(90deg, #3b3bbb 0%, #5959b8 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    margin: 1px 0;
    padding: 0.5rem 1rem;
    width: max-content;
    word-wrap: break-word;
    max-width: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-sizing: border-box;
}
.message__bubbles--self .message__bubble {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.message__bubble:first-child {
    border-top-left-radius: 1rem;
}
.message__bubbles--self .message__bubble:first-child {
    border-top-right-radius: 1rem;
}

.message__bubble:last-child {
    border-bottom-left-radius: 1rem;
}
.message__bubbles--self .message__bubble:last-child {
    border-bottom-right-radius: 1rem;
}

/* Message sender */
.message__sender {
    display: block;
    font-size: 0.9rem;
    color: #eee;
    font-weight: normal;
    margin-bottom: 2px;
}
.message__sender--self {
    text-align: right;
}

.qr-code {
    display: block;
    max-width: 100%;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
}

.textbox {
    position: sticky;
    bottom: 0;
    display: block;
    background: linear-gradient(0deg, #111111, #11111100);
    text-shadow: 0 0 20px #000, 0 0 20px #000;
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.textbox .container {
    display: flex;
    align-items: flex-end;
}

.textbox__input {
    outline: none;
    flex: auto;
    padding: 1.5rem 1rem;
    word-wrap: break-word;
    max-width: auto;
    min-width: 0;
}
.textbox__input:empty::before {
    color: #888;
    content: attr(placeholder)
}
.textbox__button {
    padding: 1.5rem 1rem;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.chat-screen {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header {
    padding: 1rem 0 0.5rem 0;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #111111, #11111100);
    text-shadow: 0 0 20px #000, 0 0 20px #000;
    overflow: hidden;
}

.header__room {
    margin: 0;
}
.header__room:empty {
    text-align: center;
}
.header__room:empty::after {
    content: "Welcome!";
}
.header__room:not(:empty):before {
    content: "/";
    margin-right: 0.5rem;
    color: #3b3bbb;
}
.header__topic {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}
.header__topic:empty {
    display: none;
}

.loading-screen {
    z-index: 2;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-screen__text {
    font-size: 1.4rem;
}
.loading-screen__wrapper {
    animation: fadeIn 1000ms ease forwards;
}
.loading-screen__spinner {
    margin: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border: 5px solid transparent;
    border-top: 5px solid #3b3bbb;
    border-right: 5px solid #3b3bbb;
    border-radius: 2rem;
    animation: spin 1000ms infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.name-form-screen {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #3b3bbb;
    background-image: linear-gradient(90deg, #3b3bbb 0%, #5959b8 100%);
}

.fade-out {
    animation: fadeOut 200ms ease forwards;
}
.fade-in {
    animation: fadeIn 200ms ease forwards;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.name-form-screen__wrapper {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.name-form-screen__heading {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
}

.name-form-screen__description {
    margin: 0 0 2rem 0;
}



@keyframes animateIn {
    from {
        opacity: 0;
        transform: translate(0, 20px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}
.message__bubble {
    animation: animateIn 100ms ease;
}