.header {
    position: fixed;
    top: 0;
    width: 100%;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__title {
    margin: 0;
    flex: auto;
}

.main {
    flex: auto;
}

.screen-section {
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screen-section--flashy {
    background: #3b3bbb;
    background-image: linear-gradient(45deg, #3b3bbb 0%, #5959b8 100%);

}

.footer {
    text-align: center;
    padding: 1rem;
}